<!DOCTYPE html>
<html lang="en">

<head>
    <title>eShop</title>
    <link rel="stylesheet" href="styles/style.css">
</head>

<body>
    
    <div id="app">
        <header>
            <div class="logo">E-shop</div>
            <div class="cart">
                <form action="#" class="search-form">
                    <input type="text" class="search-field" v-model="userSearch">
                    <button class="btn-search" type="submit" @click="filterItems">Search</button>
                </form>
                <button class="btn-cart" @click="isVisibleCart = !isVisibleCart">Cart</button>
                <div div v-show="isVisibleCart" class="cart-block">
                    <div class="d-flex">
                        <strong class="d-block">Всего товаров</strong>
                        <div id="quantity"></div>
                    </div>
                    <hr>
                    <p class="no-data" v-if="itemsCart.length == 0">Cart is Empty</p>


                    <cart-list :cart-items="itemsCart"></cart-list>


                    <hr>
                    <div class="d-flex">
                        <strong class="d-block">Общая ст-ть:</strong>
                        <div id="price">{{ checkTotalSum }}</div>
                    </div>
                </div>
            </div>
        </header>
        <main>
            <p class="no-data" v-if="items.length == 0">No Data</p>


            <items-list :items="filteredItems"></items-list>


        </main>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="scripts/cart.js"></script>
    <script src="scripts/items.js"></script>
    <script src="scripts/main.js"></script>
</body>

</html>