*
    margin: 0
    padding: 0

header
    height: 100px
    background-color:#BDD3C2
    border: 1px solid #ececec
    box-shadow: 0 0 10 0 #ececec
    display: flex
    justify-content: space-between
    align-items: center
    padding: 0 32px

.logo
    font-size: 32px

.cart
    position: relative
    

.buy-btn,    
.btn-cart
    padding: 16px 32px
    border: 1px solid rgba(230, 230, 230, 1)
    border-radius: 0px 3px 3px 0px
    background-color: white
    &:hover
        color: white
        background-color: black

.cart-prod
    display: flex
    justify-content: space-between
    padding: 8px

.cart-block
    width: 300px
    position: absolute
    border: 1px solid black 
    top: 60px
    padding: 12px
    right: 20px
    
    background-color: white

.cart-item
    padding: 8px
    display: flex
    justify-content: space-between

.product-desc
    p
        padding: 8px

.right-block
    display: flex
    align-items: center

.del-btn
    font-size: 32px
    background-color: white
    border: none

.cart-total
    padding: 8px
    display: flex
    justify-content: space-between


.products
    display: flex
    flex-wrap: wrap
    justify-content: space-between

.product-item
    padding: 16px 40px
    img
        width: 240px
        height: 160px

.desc
    text-align: center
    h1
        font-size: 24px
        padding-top: 4px
    p
        padding-top: 4px
        font-size: 24px
    button
        margin-top: 8px

    
